<br>
  <%= image_tag("Ford_gt.png") %>


<br>
<h4>Most Recently Indexed Supercars</h4>

<div id ="thumb-grid" >
<% @supercars.each do |supercar| %>
<div class="col-xs-18 col-sm-6 col-m-4 col-lg-3" style="inline-block;padding-left: 1px;
padding-right: 1px;
padding-top: 1px;
padding-bottom: 1px;"><%= image_tag(supercar.thumbnail_url) %></div>
<% end %>
</div>


