<% title("Home Page") %>
<h1 style="text-align:center">
  #supercarindex that shit, yo
</h1>
<h3 style="text-align:center"> supercarindex.net </h3>

 <br>
<%= link_to image_tag("DSC_00522.jpg", :style => "width:56vw; display: block; margin-left: auto; margin-right: auto"), supercars_path, :class => "home-nurbrun"  %>
